.footer {
    background: #FFF;
    color: #797979;
    padding-bottom: 1.563rem;
    padding-top: 2.5rem;

    h5 {
        font-size: 1.875rem;
        font-weight: 600;
    }

    p {
        font-size: 0.875rem;
    }

    a {
        color: #797979;
    }

    .logo-footer {
        background: image-url("logo-2-dark.png") no-repeat scroll 15px 0 transparent;
        display: block;
        float: right;
        height: 40px;
        width: 318px;

        @include responsiveMobile() {
            background-image: image-url("logo-2-dark-retina.png");
            background-position: 0 0;
            background-size: 318px;
            clear: both;
            float: left;
            margin-bottom: 1rem;
        }
    }

    .right-col {
        position: relative;

        .essential-links {
            bottom: -18px;
            position: absolute;
            right: 0;

            @include responsiveMobile() {
                clear: both;
                float: left;
                margin-bottom: 0;
                position: static;
            }

            li {
                display: inline-block;
                font-size: 0.875rem;
                margin-left: 0.75rem;

                @include responsiveMobile() {
                    margin-left: 0;
                    margin-right: 0.75rem;
                }
            }
        }
    }

    .p-nav-social {
        clear: right;
        float: right;
        font-size: 1.5rem;

        @include responsiveMobile(){
            clear: both;
            float: left;
        }
    }

    .footer-group {
        @include responsiveMobile() {
            padding-bottom: 2rem;
        }
    }
}