.form-polaris {
    .form-group {
        margin-bottom: 20px;
    }

    input {
        border: 1px solid #b1b4b1;
        border-radius: 0;
        height: 45px;
        line-height: 45px;
    }

    textarea {
        border: 1px solid #b1b4b1;
        border-radius: 0;
        width: 100%;
    }

    .form-control-error {
        margin-bottom: 0;
        padding: 0.4375rem 0.75rem;
    }

    &.ng-submitted {
        .ng-invalid {
            border: 1px solid red;
        }

        .error {
            color: red;
        }
    }
}