.header {
    background: #fff;

    @include responsiveMobile() {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .logo-home {
        @include responsiveMobile() {
            background-image: image-url("logo-2-light-retina.png");
            background-position: 0px 20px;
            background-size: 240px;
            width: 240px;
        }

        background: image-url("logo-2-light.png") no-repeat scroll 15px 14px $polaris-blue;
        display: block;
        height: 66px;
        width: 329px;
    }

    .mobile-nav-btn {
        color: #FFF;
        font-size: 35px;
        margin-top: 16px;
        //position: absolute;
        //right: 15px;
        //top: 16px;
    }

    .p-top-bar {
        padding: 0;

        @include responsiveMobile() {
            background: $polaris-blue;
        }

        .search {
            @include responsiveMobile() {
                display: none;
            }

            @include transition(width 0.3s cubic-bezier(0.47, 0, 0.75, 0.72));
            border-left: 1px solid $polaris-grey-border;
            border-right: 1px solid $polaris-grey-border;
            display: block;
            font-size: 1.2rem;
            height: 66px;
            position: relative;
            width: 70px;

            input {
                display: none;
            }

            a {
                cursor: pointer;
            }

            &.active {
                padding: 10px 20px 10px 55px;
                width: 300px;

                input {
                    border: none;
                    display: block;
                    height: 100%;
                    outline: none;
                    width: 100%;
                }

                .search-clear {
                    opacity: 1;
                    z-index: 1;
                }
            }

            .search-magnify {
                //@include transition(color 0.1s linear);
                color: $gray-dark;
                font-size: 1.5rem;
                left: 22px;
                position: absolute;
                top: calc(50% - 18px);

                &:hover {
                    color: $gray-dark;
                }
            }

            .search-clear {
                @include transition(opacity 0.1s linear);
                color: $polaris-grey;
                display: block;
                font-size: 1.5rem;
                opacity: 0;
                position: absolute;
                right: 25px;
                top: calc(50% - 20px);
                z-index: -1;
            }
        }
    }
}