.loader {
    background: image-url('359.gif') no-repeat scroll 50% 50% transparent;
    display: block;
    height: 64px;
    left: calc(50% - 32px);
    position: absolute;
    top: 250px;
    width: 64px;
}

.loader-small {
    background-image: image-url('359-sml.gif');
}

.loader-search-results {
    top: 100px;
}

.posts-loader-container {
    display: block;
    height: 100px;
    position: relative;
    width: 100%;

    .loader {
        top: 15px;
    }
}