// polaris bar
.p-bar {
    background: $polaris-grey-dark;
    border-radius: 0;

    .section-blue {
        background: $polaris-blue;
    }

    &.separator-bar {
        color: #FFF;
        padding: 0;

        .title-container {
            padding: 0 1rem;
        }

        .title {
            height: 57px;
            line-height: 57px;
            margin-bottom: 0;

            @include responsiveMobile(){
                padding: 0 5px;
            }
        }
    }
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover {
    color: #FFF;
}

// polaris main navbar
.p-main-navbar {
    background: $polaris-grey-dark;
    border-radius: 0;
    height: 57px;
    padding: 0;

    .navbar-nav .nav-item {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    // main nav: home, about us, etc
    .p-nav-links {

        &.navbar-nav .nav-item + .nav-item {
            margin-left: 2.5rem;

            @include responsiveTablet() {
                font-size: 0.9rem;
                margin-left: 1.7rem;
                margin-top: 0.2rem;
            }
        }

        li {
            .nav-link {
                color: #9c9c9c;
                font-weight: 500;
                padding-top: .5rem; // tweak
                text-transform: uppercase;

                &.active {
                    &:focus {
                        color: #FFF;
                    }

                    &:hover {
                        color: #FFF;
                    }
                }

                &.focus,
                &:hover {
                    color: #FFF;
                }

                &.home-link {
                    padding: 0.2rem;

                    .nav-home-container {
                        background: #FFF;
                        border-radius: 50%;
                        display: block;
                        height: 35px;
                        padding-left: 10px;
                        padding-top: 3px;
                        width: 35px;
                    }
                }
            }
        }
    }

    // social nav
    .p-nav-social {
        &.navbar-nav .nav-item + .nav-item {
            margin-left: 1.3rem;
        }

        li {
            font-size: 1.5rem;

            &.nav-item-email {
                background: $polaris-blue;
                height: 57px;
                padding-bottom: 0;
                padding-top: 0.8rem;

                .email-link {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    width: 70px;
                }
            }

            .nav-link {
                color: #FFF;
                padding: 0.25rem 0 0 0;

                &:hover {
                    color: #FFF;
                }
            }
        }
    }
}

.navbar-header {
    @include responsiveMobile() {
        @include clearfix();
        padding: 0 5px;
    }
}

.mobile-nav {

    &.p-main-navbar {

        @include responsiveMobile() {
            bottom: 0;
            left: 0;
            height: 100%;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: calc(-100% + 66px);
            transition: .25s top ease-in;
            z-index: 1;

            &.open {
                top: 66px;
                transition: .25s top ease-in;
            }
        }

        .p-nav-links {
            padding-top: 0.5rem;
        }
    }

    .navbar-nav .nav-item {
        float: none;
        margin-left: 1rem;
    }

    &.p-main-navbar .p-nav-links.navbar-nav .nav-item + .nav-item {
        margin-left: 1rem;
    }
}
