.search-results {
    margin: 2rem 0 1rem 0;

    ul li {
        margin-bottom: 1.5rem;

        h5 {
            a {
                color: $polaris-grey-dark;

                &:hover {
                    color: $polaris-blue;
                    text-decoration: none;
                }
            }
        }

        p {
            margin-bottom: 0.5rem;
        }
    }
}