.twitter-feed {
    background-color: #FFF;

    ul {
        li {
            border-top: 1px solid #f0f0f0;

            &:first-child {
                border-top: none;
            }

            .content-col {
                display: table-cell;
                vertical-align: top;
            }

            .avatar {
                padding-bottom: 7px;
                padding-right: 10px;
            }

            .card {
                border: 0;
                border-radius: 0;
                margin-bottom: 0;
                padding: 0.9375rem;
                padding-bottom: 0.77rem;

                .card-title {
                    font-size: 1.125rem;
                    margin-bottom: 0;
                }

                .card-subtitle {
                    font-size: 0.875rem;

                    &.link-handle {
                        color: $polaris-blue;
                    }
                }


                a.card-text {
                    color: #373a3c;
                    font-size: 0.75rem;

                    p {
                        margin-bottom: 0.2rem;
                    }

                    &:hover {
                        color: $polaris-blue;
                        text-decoration: none;
                    }
                }

                .card-link {
                    color: #9c9c9c;
                    font-size:  0.75rem;
                }
            }
        }
    }
}