html {
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
}

body {
    background: #f0f0f0;
}

#map {
    height: 500px;
}

.page-block {
    background: #FFF;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
}

a {
    color: $polaris-blue;

    &:hover {
        color: $polaris-blue;
    }
}

.polaris-blue { color: $polaris-blue; }

