@import "compass";
@import "compass/utilities/sprites";

// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

[class^="icon-"],
[class*=" icon-"] {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    // @include bootstrap-ie7-restore-right-whitespace(); undefined mixin
}

$icon-sprite-dimensions: true;
@import "icon/*.png";
@include all-icon-sprites;

// Handle mouseover any element that has an icon + active states
// --------------------------------------------------

a:hover > .icon-magnify-glass,
.active .icon-magnify-glass {
     @extend .icon-magnify-glass.magnify-glass-hover;
}