.page-clients {
    min-height: 300px;

    .card {
        background-size: cover;
        border: 0;
        border-radius: 0;
        display: block;
        height: 300px;

        @include responsiveMobile() {
            margin-bottom: 0.46875rem;
        }

        &.grayscale {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all 1s ease;

            &:hover {
                -webkit-filter: grayscale(0);
                -moz-filter: grayscale(0);
                -o-filter: grayscale(0);
                -ms-filter: grayscale(0);
                filter: grayscale(0);
            }

            @include responsiveMobile() {
                -webkit-filter: none;
                -moz-filter: none;
                -o-filter: none;
                -ms-filter: none;
                filter: none;
            }
        }

        .card-img-overlay {
            bottom: 0;
            padding: 0;
            top: auto;
            width: 100%;
        }

        .card-title {
            font-size: 2rem;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
        }


    }
}