.page-about {

    .circle {
        background-color: #4BB4E5;
        border: 5px solid #4BB4E5;
        border-radius: 50%;
        height: 8rem;
        margin-bottom: 1rem;
        margin-top: 0;
        padding: 1rem;
        width: 8rem;

        @include flexCenter();
    }

    .col {
        display: flex;

        .col-inner {
            background: #FFF;
            flex: 1;
            padding: 1.5rem 1.5rem;
        }

        .col-icon {
            color: #FFF;
            font-size: 4rem;
            margin: 0 auto;
        }

        .about-heading {
            margin-bottom: 1rem;
        }
    }
}