.page-work {
    margin: 1rem 0;

    .card-columns {
        column-count: 4;
        column-gap: 1rem;

        -webkit-column-count: 4;
        -webkit-column-gap: 1rem;
    }

    .card {
        border: 0;
        border-radius: 0;
        margin-bottom: 1rem;

        .card-title {
            font-size: 1.125rem;
            text-transform: uppercase;
        }

        p {
            font-size: 0.875rem;
        }

        .card-img-top {
            border-radius: 0;
        }

        footer {
            font-style: italic;
        }

        img {
            border-radius: 0;
            width: 100%;

            // fix for webkit bug where images with grayscale are not visible
            -webkit-backface-visibility: hidden;

            // grayscale
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        &.card-polaris-blue {
            background-color: $polaris-blue;
            color: #FFF;

            hr {
                border-top: 1px dotted #ffffff;
            }

            p {
                color: #d1ecf8;
            }

            .card-blockquote {
                p {
                    color: #FFF;
                }

                footer {
                    color: #d1ecf8;
                }
            }
        }

        &.card-polaris-grey {
            background-color: $polaris-grey;
            color: #333;

            hr {
                border-top: 1px dotted #ffffff;
            }

            p {
                color: #333;
            }
        }

        &.card-polaris-blue-dark {
            background-color: $polaris-blue-dark;
            color: #FFF;

            hr {
                border-top: 1px dotted #ffffff;
            }

            p {
                color: #b1acc0;
            }

            .card-blockquote {
                p {
                    color: #FFF;
                }

                footer {
                    color: #b1acc0;
                }
            }
        }

        &.card-polaris-white {
            background-color: #FFF;
            color: #333;

            hr {
                border-top: 1px dotted #333;
            }

            p {
                color: #818a91;
            }

            .card-blockquote {
                p {
                    color: #333;
                }

                footer {
                    color: #818a91;
                }
            }
        }
    }
}