.page-about {
    margin: 1rem 0;

    .circle {
        align-items: center;
        background-color: #4BB4E5;
        border: 5px solid #4BB4E5;
        border-radius: 50%;
        display: flex;
        height: 8rem;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 0;
        padding: 1rem;
        width: 8rem;
    }

    .col {
        display: flex;

        .col-inner {
            background: #FFF;
            flex: 1;
            padding: 1.5rem 1.5rem;
        }

        .col-icon {
            color: #FFF;
            font-size: 4rem;
        }

        .about-heading {
            margin-bottom: 1rem;
        }
    }
}