.page-blog {
    margin: 1rem 0 0 0;

    // blog page global styles

    // article info, author, date etc
    .info {
        ul {
            li {
                color: #AAAAAA;
                float: left;
                font-size: 0.7rem;
            }
        }
    }

    hr {
        border-top: 0.0625rem dotted rgba(0, 0, 0, 0.2);
    }

    .title {
        text-transform: uppercase;
    }

    .blog-listing {
        background: #FFF;
        margin-bottom: 1rem;

        .blog-img {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 169px;
            width: 100%;
        }

        .title {
            font-size: 1rem;
            height: 51px;
            text-transform: uppercase;
        }

        .content {
            padding: 0.5rem;

            .read-more {
                font-size: 0.875rem;
            }

            .summary {
                p {
                    color: #666;
                    font-size: 0.875rem;
                    margin-bottom: 0.9rem;
                }
            }
        }
    }

    .load-more {
        background: #FFF;
        margin-bottom: 1rem;
        padding: 0.5rem;

        a {
            cursor: pointer;
        }

        h4 {
            margin-bottom: 0;
        }
    }

    .article {
        background: #FFF;
        margin-bottom: 1rem;

        img {
            width: 100%;
        }

        .article-content {
            padding: 0.75rem;
        }
    }

    .sidebar {
        .component {
            margin-bottom: 1rem;

            &.component-card {
                background: #FFF;
                padding: 0.75rem;
            }

            .component-title {
                font-size: 1.125rem;
                text-transform: uppercase;
            }

            ul li {
                font-size: 0.875rem;

                a {
                    color: #373a3c;
                }
            }

            .article-list {
                margin-bottom: 1rem;

                .pop-post-image {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 50px;
                    margin-right: 10px;
                    width: 50px;
                }

                img {

                }

                h5 {
                    font-size: 0.75rem;
                    margin-bottom: 0;
                }

                time {
                    font-size: 0.6rem;
                }
            }

        }

        form {
            .form-control {
                border: 0;
                border-radius: 0;
                padding: 0.75rem;
            }
            .search-form {
                i {
                    color: #999;
                    font-size: 1.25rem;
                    position: absolute;
                    right: 20px;
                    top: 14px;
                }
            }
        }
    }
}