.footer {
    background: #FFF;
    color: #797979;
    padding-bottom: 1.563rem;
    padding-top: 2.5rem;

    h5 {
        font-size: 1.875rem;
        font-weight: 600;
    }

    p {
        font-size: 0.875rem;
    }

    a {
        color: #797979;
    }

    .logo-footer {
        background: image-url("logo-2-dark.png") no-repeat scroll 15px 0 transparent;
        display: block;
        height: 40px;
        width: 318px;
    }

    .right-col {
        position: relative;

        .essential-links {
            bottom: -18px;
            position: absolute;
            right: 0;

            li {
                display: inline-block;
                font-size: 0.875rem;
                margin-left: 0.75rem;
            }
        }
    }

    .p-nav-social {
        clear: right;
        font-size: 1.5rem;
    }
}