.header {
    background: #fff;

    .logo-home {
        background: image-url("logo-2-light.png") no-repeat scroll 15px 14px $polaris-blue;
        display: block;
        height: 66px;
        width: 329px;
    }

    .p-top-bar {
        padding: 0;

        .search {
            align-items: center;
            border-left: 1px solid $polaris-grey-border;
            border-right: 1px solid $polaris-grey-border;
            display: flex;
            font-size: 1.5rem;
            height: 66px;
            justify-content: center;
            margin-left: auto;
            width: 70px;

            a {
                color: $gray-dark;
            }

            &:hover {
                cursor: pointer;

                a {
                    color: $polaris-blue;
                }
            }
        }
    }
}