.hero {
    background-color: transparent;
    background-size: cover;
    background-repeat: none;
    display: block;
    height: 450px;
    position: relative;

    .strap {
        .strap-container {
            position: relative;
        }

        .strap-bkg-container {
            position: relative;

            .strap-bkg {
                background: rgba(255, 255, 255, 0.7);
                display: block;
                height: 10.5rem;
                left: 0;
                position: absolute;
                top: 240px;
                width: 40rem;
            }
        }

        .strap-inner {
            padding: 1rem;
            position: absolute;
            left: 0px;
            top: 240px;
            width: 40rem;
        }

        h1 {
            color: #000;
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        h2 {
            color: #605F5F;
            font-size: 1.15rem;
            font-weight: 300;
            line-height: 1.5rem;
            margin-bottom: 0;
        }
    }
}

//@include media-breakpoint-up(xs) {}
//@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {
    .hero .strap .strap-bkg-container .strap-bkg {
        width: 43rem;
    }
}

@include media-breakpoint-up(lg) {
    .hero .strap .strap-bkg-container .strap-bkg {
        width: 43rem;
    }
}

@include media-breakpoint-up(xl) {
    .hero .strap .strap-bkg-container .strap-bkg {
        width: 45rem;
    }
}

@media screen and (min-width: 1400px) {
    .hero .strap .strap-bkg-container .strap-bkg {
        width: 50rem;
    }
}

@media screen and (min-width: 1600px) {
    .hero .strap .strap-bkg-container .strap-bkg {
        width: 60rem;
    }
}



