.section {
    margin: 0;
    padding-bottom: 3em; // todo: need to review this
    padding-top: 3.75rem;

    &.section-services {
        background-color: #332f3e;
        color: #FFF;
        padding-bottom: 0;
    }

    h4 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

}