.first-row {
     margin-top: 0.9375rem;
}

.panel {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 277px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    &:hover {
        .overlay {
            bottom: 0px;

            a {
                text-decoration: none;
            }
        }
    }

    h5 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    p {
        font-size: 0.8125rem;
    }

    .overlay {
        background: rgba(255, 255, 255, 0.6);
        bottom: -277px;
        display: block;
        height: 100%;
        padding: 17px 15px 0 15px;
        position: absolute;
        transition: all 0.75s cubic-bezier(0, 0, 0, 1);
        width: 100%;

        h5 {
            font-size: 1rem;
        }

        a {
            color: #000;
            font-weight: bold;
        }
    }

    &.bottom-bar {
        .panel-desc {
            background: rgba(75, 180, 229, 0.5);
            bottom: 0;
            color: #FFF;
            font-size: 1.375rem;
            font-weight: normal;
            height: 40px;
            left: 0;
            position: absolute;
            width: 100%;

            a {
                color: #FFF;
            }

            h6 {
                line-height: 40px;
                padding-right: 10px;
            }

            .badge {
                align-items: center;
                background: rgba(75, 180, 229, 1);
                display: flex;
                float: right;
                height: 40px;
                justify-content: center;
                right: 0;
                width: 40px;
            }
        }
    }

    &.cat {
        background: #ddd;
        color: #000;
        padding: 15px;

        .cat-title {
            text-transform: uppercase;
        }

        .cat-img {
            margin-bottom: 10px;
        }
    }
}