.people {
    margin: 2rem auto;
    text-align: center;

    .person-container {
        display: inline-block;
        margin-right: 2rem;
    }
    .person {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        display: block;
        height: 170px;
        margin-bottom: 0.75rem;
        width: 170px;
    }
    .name {
        font-size: 1.5rem;
    }
    .position {
        color: #777;
        font-size: 0.875rem;
    }
}