// tabs
.p-service-tabs {
    border-bottom: none;
    margin: 3.75rem 0 0 0;

    // hack to remove nav-tabs styles
    &.nav-tabs .nav-link.active,
    &.nav-tabs .nav-link.active:focus,
    &.nav-tabs .nav-link.active:hover,
    &.nav-tabs .nav-item.open .nav-link,
    &.nav-tabs .nav-item.open .nav-link:focus,
    &.nav-tabs .nav-item.open .nav-link:hover {
        color: transparent;
        background-color: transparent;
        border: none;
    }

    &.nav-tabs .nav-item {
        flex: 0 0 19.7%; // not sure why this can't be 20%
        float: none;
        margin-bottom: 2rem;
    }

    &.nav-tabs .nav-link {
        border: none;
        border-radius: 0;
        display: block;
        padding: 0;
    }

    a:hover {
        text-decoration: none;
    }

    a.active:before {
        position: absolute;
        display: inline-block;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 20px solid rgba(0, 0, 0, 0.2);
        left: calc(50% - 15px);
        bottom: -32px;
        content: '';
    }

    a.active:after {
        position: absolute;
        display: inline-block;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 19px solid #4a4656;
        left: calc(50% - 15px);
        bottom: -34px;
        content: '';
    }

    .service-title {
        color: #FFF;
        display: block;
        font-size: 1.3rem;
        height: 3rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .service-tab-icon {
        align-items: center;
        background: #4a4656;
        border-radius: 50%;
        display: flex;
        height: 11.63rem; // 186px
        justify-content: center;
        margin: auto;
        width: 11.63rem;
    }
}

.p-service-tab-content {
    background-color: #4a4656;
    box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.75);
    margin-bottom: 4rem;
    padding: 1rem;
}
