html {
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
}

body {
    background: #f0f0f0;
}

.main {
    min-height: 400px;

    @include responsiveMobile() {
        padding-top: 66px;
    }
}

#map {
    height: 500px;

    @include responsiveMobile() {
        height: 300px;
    }
}

.page-block {
    background: #FFF;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
}

a {
    color: $polaris-blue;

    &:hover {
        color: $polaris-blue;
    }
}

.polaris-blue { color: $polaris-blue; }

.page-hide {
    opacity: 0;
}

.page {
    min-height: 400px;
    position: relative;
}

.page-results {
    min-height: 300px;
}

.hidden-mobile {
    @include responsiveMobile() {
        display: none !important;
    }
}

.hidden-large {
    @include responsiveLargeAndAbove() {
        display: none !important;
    }
}

.text-center-mobile {
    @include responsiveMobile() {
        text-align: center;
    }
}
