@import "compass";
@import "compass/utilities/sprites";

// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

[class^="icon-"],
[class*=" icon-"] {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    // @include bootstrap-ie7-restore-right-whitespace(); undefined mixin
}

$icon-sprite-dimensions: true;
@import "icon/*.png";
@include all-icon-sprites;

// Handle mouseover any element that has an icon + active states
// --------------------------------------------------

a:hover > .icon-magnify-glass,
.active .icon-magnify-glass {
     @extend .icon-magnify-glass.magnify-glass-hover;
}

.icon-service-content {
    @include isRetina() {
        background-image: image-url('icon/service-content-retina.png');
        background-position: 0 0;
        background-size: 112px 112px;
    }
}

// seems distorted
//.icon-service-network {
//    @include isRetina() {
//        background-image: image-url('icon/service-network-retina.png');
//        background-position: 0 0;
//        background-size: 112px 124px;
//    }
//}

.icon-service-outreach {
    @include isRetina() {
        background-image: image-url('icon/service-outreach-retina.png');
        background-position: 0 0;
        background-size: 99px 99px;
    }
}

.icon-service-press {
    @include isRetina() {
        background-image: image-url('icon/service-press-retina.png');
        background-position: 0 0;
        background-size: 129px 134px;
    }
}

.icon-service-reputation {
    @include isRetina() {
        background-image: image-url('icon/service-reputation-retina.png');
        background-position: 0 0;
        background-size: 104px 113px;
        height: 120px;
        width: 113px;
    }
}
