@mixin responsiveMobile() {
    @media screen and (max-width: $responsive-collapse-small), print {
        @content;
    }
}

@mixin responsiveTablet() {
    @media screen and (min-width: $responsive-collapse-medium) and (max-width: $responsive-collapse-large-and-below), print {
        @content;
    }
}

@mixin responsiveLargeAndAbove() {
    @media screen and (min-width: $responsive-collapse-medium), print {
        @content;
    }
}

@mixin responsiveExtralargeAndAbove() {
    @media screen and (min-width: $responsive-collapse-large), print {
        @content;
    }
}

@mixin isPrint() {
    @media print {
        @content;
    }
}

@mixin isRetina() {
    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio:
    1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        @content;
    }
}

@mixin flexCenter() {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}