//== Colors
//
$polaris-blue: #4bb4e5;
$polaris-blue-dark: #332f3e;
$polaris-grey: #dddddd;
$polaris-grey-dark: #3c3d39;
$polaris-grey-border: #b1b4b1;

// old breakpoints
//$responsive-collapse-small: 719px;
//$responsive-collapse-medium: 720px;
//$responsive-collapse-large: 1200px;

$responsive-collapse-small: 47.9em;
$responsive-collapse-medium: 48em;
$responsive-collapse-large-and-below: 61.9em;
$responsive-collapse-large: 62em;


