<div class="container">
    <div class="js-loader loader"></div>
    <div class="js-page page-about page" style="display:none">
        <div class="row">
            <div class="col-md-4 col text-center">
                <div class="col-inner">
                    <div class="circle center-block">
                        <i class="fa fa-lightbulb-o col-icon"></i>
                    </div>
                    <h3 class="about-heading">{{about.acf.about_column_one_heading}}</h3>
                    <div ng-bind-html="about.acf.about_column_one_text"></div>
                </div>
            </div>
            <div class="col-md-4 col text-center">
                <div class="col-inner">
                    <div class="circle center-block">
                        <i class="fa fa-cogs col-icon"></i>
                    </div>
                    <h3 class="about-heading">{{about.acf.about_column_two_heading}}</h3>
                    <div ng-bind-html="about.acf.about_column_two_text"></div>
                </div>
            </div>
            <div class="col-md-4 col text-center">
                <div class="col-inner">
                    <div class="circle center-block">
                        <i class="fa fa-users col-icon"></i>
                    </div>
                    <h3 class="about-heading">{{about.acf.about_column_three_heading}}</h3>
                    <div ng-bind-html="about.acf.about_column_three_text"></div>
                </div>
            </div>
        </div>
    </div>
</div>