<div class="container">
    <div class="js-loader loader"></div>
    <div class="js-page page-blog page" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 hidden-large">
                        <div class="sidebar">
                            <!-- Removing this for now -->
                            <!--<form class="component">-->
                            <!--<fieldset>-->
                            <!--<div class="search-form">-->
                            <!--<i class="fa fa-search"></i>-->
                            <!--<input type="text" class="form-control" placeholder="SEARCH...">-->
                            <!--</div>-->
                            <!--</fieldset>-->
                            <!--</form>-->
                            <div class="component component-card">
                                <h4 class="component-title">Categories</h4>
                                <hr>
                                <ul class="list-unstyled list-category">
                                    <li ng-repeat="category in categories">
                                        <i class="fa fa-angle-double-right"></i>
                                        <a ng-class="{ 'active': currentCategory === category.slug}" ng-click="filterPostsByCategory()" title="Filter category by {{category.name}}">{{category.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4" ng-repeat="post in posts">
                        <div class="blog-listing">
                            <a class="read-more" href="{{post.link}}">
                                <div class="blog-img" style="background-image:url({{ post.acf.article_summary_image }})"></div>
                                <div class="content">
                                    <h4 class="title">{{ post.title.rendered }}</h4>
                                    <div class="info clearfix">
                                        <ul class="list-unstyled">
                                            <li>{{ post.date | date:'d MMM yyyy' | uppercase }}</li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="summary">
                                        <div ng-if="post.acf.article_summary_text">
                                            <p ng-bind-html="post.acf.article_summary_text | ellipsis: 100"></p>
                                        </div>
                                        <div ng-if="post.acf.article_summary_text === ''">
                                            <p ng-bind-html="post.excerpt.rendered | ellipsis: 100"></p>
                                        </div>
                                    </div>
                                    <p class="read-more">READ MORE</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="js-posts-loader-container posts-loader-container">
                            <div class="loader loader-small"></div>
                        </div>
                        <div ng-show="!morePosts" class="js-no-more-posts no-more-posts text-center">
                            <h4>NO MORE POSTS</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-mobile">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sidebar">
                            <!-- Removing this for now -->
                            <!--<form class="component">-->
                                <!--<fieldset>-->
                                    <!--<div class="search-form">-->
                                        <!--<i class="fa fa-search"></i>-->
                                        <!--<input type="text" class="form-control" placeholder="SEARCH...">-->
                                    <!--</div>-->
                                <!--</fieldset>-->
                            <!--</form>-->
                            <div class="component component-card">
                                <h4 class="component-title">Categories</h4>
                                <hr>
                                <ul class="list-unstyled list-category">
                                    <li ng-repeat="category in categories">
                                        <i class="fa fa-angle-double-right"></i>
                                        <a ng-class="{ 'active': currentCategory === category.slug}" ng-click="filterPostsByCategory()" title="Filter category by {{category.name}}">{{category.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="component component-card">
                                <h4 class="component-title">POPULAR ARTICLES</h4>
                                <hr>
                                <div ng-repeat="post in popularPosts | limitTo: 3" class="article-list clearfix">
                                    <a href="{{post.link}}">
                                        <div class="pull-left pop-post-image" style="background-image:url({{ post.acf.article_summary_image }}"></div>
                                        <h5>{{post.title.rendered}}</h5>
                                        <time>{{post.date | date:'d MMM yyyy' | uppercase}}</time>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>