<div class="container">
    <div class="js-loader loader"></div>
    <div class="js-page page-clients page" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-md-4" ng-repeat="client in clients">
                <a href="{{client.client_page_link}}">
                    <div class="card card-inverse grayscale" style="background-image: url('{{client.client_image}}')">
                        <div class="card-img-overlay">
                            <h4 class="card-title">{{client.client_name}}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
