<div class="container">
    <div class="js-loader loader" style="display: none;"></div>
    <div class="js-page page-contact page-block page">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!--

                <h2>DON'T BE SHY!</h2>
                <p>
                    If you have any questions or enquiries for us, we would love to hear from you. Please get in touch
                    with us using the contact form below.
                </p>
                <hr>

                -->
                <!-- temporarily disabled form until we host our own forms or use different third party

                <form name="sendMessage" novalidate class="form-polaris">
                    <input type="hidden" id="email" value="rossmatthews96@gmail.com">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 form-control-label ng-class:{ 'error' : sendMessage.$submitted && sendMessage.inputName.$invalid}">Name</label>
                        <div class="col-sm-10 col-md-6">
                            <input ng-model="message.name" required id="inputName" name="inputName" type="text" class="form-control">
                        </div>
                        <div ng-show="sendMessage.$submitted && sendMessage.inputName.$invalid" class="col-md-4">
                            <p class="form-control-error error">Please enter a name</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 form-control-label ng-class:{ 'error' : sendMessage.$submitted && sendMessage.inputEmail.$invalid}">Email</label>
                        <div class="col-sm-10 col-md-6">
                            <input ng-model="message.email" required id="inputEmail" name="inputEmail" type="email" class="form-control">
                        </div>
                        <div ng-show="sendMessage.$submitted && sendMessage.inputEmail.$invalid" class="col-md-4">
                            <p class="form-control-error error">Please enter a valid email</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputContent" class="col-sm-2 form-control-label ng-class:{ 'error' : sendMessage.$submitted && sendMessage.inputContent.$invalid}">Message</label>
                        <div class="col-sm-10 col-md-6">
                            <textarea ng-model="message.content" required id="inputContent" name="inputContent" rows="10"></textarea>
                        </div>
                        <div ng-show="sendMessage.$submitted && sendMessage.inputContent.$invalid" class="col-md-4">
                            <p class="form-control-error error">Please enter a message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="send(message)" type="submit" class="btn btn-lg btn-polaris btn-polaris-primary">Send</button>
                            <a ng-click="reset()" class="btn btn-lg btn-secondary btn-polaris">Reset</a>
                        </div>
                    </div>
                </form> -->

                <h2 ng-if="content.content">{{ content.title.rendered }}</h2>
                <div ng-if="content.content" ng-bind-html="content.content.rendered"></div>
                <map-directive></map-directive><br>

                <div id="wufoo-z1avxb5g11elwb0" class="hidden">
                    Fill out my <a href="https://rossmatthews96.wufoo.com/forms/z1avxb5g11elwb0">online form</a>.
                </div>
                <script type="text/javascript">var z1avxb5g11elwb0;(function(d, t) {
                    var s = d.createElement(t), options = {
                        'userName':'rossmatthews96',
                        'formHash':'z1avxb5g11elwb0',
                        'autoResize':true,
                        'height':'497',
                        'async':true,
                        'host':'wufoo.com',
                        'header':'show',
                        'ssl':true};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                        try { z1avxb5g11elwb0 = new WufooForm();z1avxb5g11elwb0.initialize(options);z1avxb5g11elwb0.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>

            </div>
        </div>
    </div>
</div>