<div class="hero" style="background-image: url('{{page.acf.hero_image}}')">
    <div class="strap">
        <div class="strap-bkg-container">
            <div class="strap-bkg"></div>
        </div>
        <div class="container strap-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix strap-inner">
                        <h1>{{page.acf.hero_title_text_black}} <span class="polaris-blue">{{page.acf.hero_title_text_blue}}</span></h1>
                        <h2 class="hidden-mobile">
                            {{page.acf.hero_subtitle_line_1}}<br>
                            {{page.acf.hero_subtitle_line_2}}<br>
                            {{page.acf.hero_subtitle_line_3}}
                        </h2>
                        <h2 class="hidden-large">
                            {{page.acf.hero_subtitle_line_1}}
                            {{page.acf.hero_subtitle_line_2}}
                            {{page.acf.hero_subtitle_line_3}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="p-bar separator-bar navbar-light navbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <h3 class="title">{{page.acf.news_title}}</h3>
            </div>
            <div class="hidden-mobile col-md-4 col-lg-4">
                <div class="section-blue">
                    <div class="title-container">
                        <h3 class="title">{{page.acf.twitter_feed_title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-8">
            <div class="row panel-container">
                <div class="col-xs-12 col-md-4 col-lg-4" ng-repeat="post in posts">
                    <div ng-click="togglePanel($event)" class="panel bottom-bar ng-class:{ 'first-row' : $index < 3}" style="background-image:url({{ post.acf.article_summary_image }});">
                        <a href="{{post.link}}">
                            <div class="overlay">
                                <h5>{{ post.title.rendered }}</h5>
                                <p ng-bind-html="post.acf.article_summary_text"></p>
                                <!--<a href="{{post.link}}">READ MORE</a>-->
                                <p class="link"><strong>READ MORE</strong></p>
                            </div>
                            <div class="panel-desc">
                                <div class="badge pull-right">
                                    <i class="icon-panel-articles"></i>
                                </div>
                                <h6 class="pull-right">Article</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-mobile col-md-4 col-lg-4">
            <div class="twitter-feed">
                <ul class="list-unstyled">
                    <li ng-repeat="tweet in tweets track by $index">
                        <div class="card card-block">
                            <a class="content-col avatar">
                                <img src="/static/images/content/twitter-avatar.jpg" class="">
                            </a>
                            <div class="content-col content">
                                <h4 class="card-title">{{tweet.user.name}}</h4>
                                <a class="card-subtitle link-handle" href="">&#64;{{tweet.user.screen_name}}</a>
                            </div>
                            <a class="card-text" href="https://twitter.com/PolarisMediaPR/status/{{tweet.id_str}}" target="_blank">
                                <p>
                                    {{tweet.text}}
                                </p>
                            </a>
                            <a href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id_str}}" class="card-link"><i class="icon-tweet-reply"></i> Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id={{tweet.id_str}}" class="card-link"><i class="icon-tweet-retweet"></i> Retweet</a>
                            <a href="https://twitter.com/intent/favorite?tweet_id={{tweet.id_str}}" class="card-link"><i class="icon-tweet-fav"></i> Favourite</a>
                            <span class="card-link time">{{tweet.formatted_time}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<nav class="hidden-large p-bar separator-bar navbar-light navbar hidden-large section-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="title">{{page.acf.twitter_feed_title}}</h3>
            </div>
        </div>
    </div>
</nav>
<div class="hidden-large container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="twitter-feed">
                <ul class="list-unstyled">
                    <li ng-repeat="tweet in tweets track by $index">
                        <div class="card card-block">
                            <a class="content-col avatar">
                                <img src="/static/images/content/twitter-avatar.jpg" class="">
                            </a>
                            <div class="content-col content">
                                <h4 class="card-title">{{tweet.user.name}}</h4>
                                <a class="card-subtitle link-handle" href="">&#64;{{tweet.user.screen_name}}</a>
                            </div>
                            <a class="card-text" href="https://twitter.com/PolarisMediaPR/status/{{tweet.id_str}}" target="_blank">
                                <p>
                                    {{tweet.text}}
                                </p>
                            </a>
                            <a href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id_str}}" class="card-link"><i class="icon-tweet-reply"></i> Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id={{tweet.id_str}}" class="card-link"><i class="icon-tweet-retweet"></i> Retweet</a>
                            <a href="https://twitter.com/intent/favorite?tweet_id={{tweet.id_str}}" class="card-link"><i class="icon-tweet-fav"></i> Favourite</a>
                            <span class="card-link time">{{tweet.formatted_time}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section section-about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="divider-bear text-center clearfix">
                    <ul class="unstyled">
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                        <li class="bear">
                            <i class="icon-bear-black"></i>
                        </li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                        <li><span class="dot"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4 class="text-center">{{page.acf.about_section_title}}</h4>
                <div class="text-center-mobile" ng-bind-html="page.acf.about_section_content"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="unstyled people">
                    <li class="col-xs-12 col-sm-12 person-container text-center" ng-repeat="person in people">
                        <div class="person" style="background-image: url('{{person.person_image}}');"></div>
                        <div class="name">{{person.person_name}}</div>
                        <div class="position">{{person.person_title}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section section-services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="divider-bear text-center clearfix">
                    <ul class="unstyled">
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>

                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li><span class="dot dot-white"></span></li>
                        <li><span class="dot dot-white"></span></li>
                        <li><span class="dot dot-white"></span></li>
                        <li><span class="dot dot-white"></span></li>
                        <li class="bear">
                            <i class="icon-bear-white"></i>
                        </li>
                        <li><span class="dot dot-white"></span></li>
                        <li><span class="dot dot-white"></span></li>
                        <li><span class="dot dot-white"></span></li>
                        <li><span class="dot dot-white"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                        <li class="hidden-mobile"><span class="dot"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">{{page.acf.services_section_title}}</h4>
                <div class="text-center-mobile" ng-bind-html="page.acf.services_section_content"></div>
            </div>
        </div>
        <div class="hidden-mobile">
            <ul class="row p-service-tabs nav nav-tabs" role="tablist">
                <li class="col-md-2 col-md-20 nav-item">
                    <a data-target="#press" class="nav-link active" aria-controls="press" role="tab" data-toggle="tab">
                        <span class="service-title">{{page.acf.service_group_1_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-press"></i>
                        </div>
                    </a>
                </li>
                <li class="col-md-2 col-md-20 nav-item">
                    <a data-target="#reputation" class="nav-link" aria-controls="reputation" role="tab" data-toggle="tab">
                        <span class="service-title">{{page.acf.service_group_2_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-reputation"></i>
                        </div>
                    </a>
                </li>
                <li class="col-md-2 col-md-20 nav-item">
                    <a data-target="#content" class="nav-link" aria-controls="content" role="tab" data-toggle="tab">
                        <span class="service-title">{{page.acf.service_group_3_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-content"></i>
                        </div>
                    </a>
                </li>
                <li class="col-md-2 col-md-20 nav-item">
                    <a data-target="#outreach" class="nav-link" aria-controls="outreach" role="tab" data-toggle="tab">
                        <span class="service-title">{{page.acf.service_group_4_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-outreach"></i>
                        </div>
                    </a>
                </li>
                <li class="col-md-2 col-md-20 nav-item">
                    <a data-target="#network" class="nav-link" aria-controls="network" role="tab" data-toggle="tab">
                        <span class="service-title">{{page.acf.service_group_5_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-network"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="p-service-tab-content tab-content text-center">
                <div role="tabpanel" class="container tab-pane active" id="press">
                    <div ng-bind-html="page.acf.service_group_1_content"></div>
                </div>
                <div role="tabpanel" class="container tab-pane" id="reputation">
                    <div ng-bind-html="page.acf.service_group_2_content"></div>
                </div>
                <div role="tabpanel" class="container tab-pane" id="content">
                    <div ng-bind-html="page.acf.service_group_3_content"></div>
                </div>
                <div role="tabpanel" class="container tab-pane" id="outreach">
                    <div ng-bind-html="page.acf.service_group_4_content"></div>
                </div>
                <div role="tabpanel" class="container tab-pane" id="network">
                    <div ng-bind-html="page.acf.service_group_5_content"></div>
                </div>
            </div>
        </div>
        <div class="hidden-large">
            <ul class="row p-service-tabs nav nav-tabs" role="tablist">
                <li class="col-xs-12 col-sm-12 nav-item">
                    <a ng-click="toggleService($event)" class="js-mobile-service-link nav-link">
                        <span class="service-title">{{page.acf.service_group_1_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-press"></i>
                        </div>
                    </a>
                    <div style="display:none;" class="js-mobile-service-content p-service-tab-content tab-content text-center">
                        <div>
                            <div ng-bind-html="page.acf.service_group_1_content"></div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-12 nav-item">
                    <a ng-click="toggleService($event)" class="js-mobile-service-link nav-link">
                        <span class="service-title">{{page.acf.service_group_2_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-reputation"></i>
                        </div>
                    </a>
                    <div style="display:none;" class="js-mobile-service-content p-service-tab-content tab-content text-center">
                        <div>
                            <div ng-bind-html="page.acf.service_group_2_content"></div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-12 nav-item">
                    <a ng-click="toggleService($event)" class="js-mobile-service-link nav-link">
                        <span class="service-title">{{page.acf.service_group_3_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-content"></i>
                        </div>
                    </a>
                    <div style="display:none;" class="js-mobile-service-content p-service-tab-content tab-content text-center">
                        <div>
                            <div ng-bind-html="page.acf.service_group_3_content"></div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-12 nav-item">
                    <a ng-click="toggleService($event)" class="js-mobile-service-link nav-link">
                        <span class="service-title">{{page.acf.service_group_4_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-outreach"></i>
                        </div>
                    </a>
                    <div style="display:none;" class="js-mobile-service-content p-service-tab-content tab-content text-center">
                        <div>
                            <div ng-bind-html="page.acf.service_group_4_content"></div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-12 nav-item">
                    <a ng-click="toggleService($event)" class="js-mobile-service-link nav-link">
                        <span class="service-title">{{page.acf.service_group_5_title}}</span>
                        <div class="service-tab-icon">
                            <i class="icon-service-network"></i>
                        </div>
                    </a>
                    <div style="display:none;" class="js-mobile-service-content p-service-tab-content tab-content text-center">
                        <div>
                            <div ng-bind-html="page.acf.service_group_5_content"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <map-directive></map-directive>
</div>