<div class="container">
    <div class="js-loader loader"></div>
    <div class="js-page page-general page-block page" style="display:none">
        <div class="row">
            <div class="contact-md-12">
                <h2 ng-if="content.content">{{ content.title.rendered }}</h2>
                <div ng-if="content.content" ng-bind-html="content.content.rendered"></div>
                <h3 ng-if="!content.content">Page not found</h3>
                <p ng-if="!content.content">We're sorry that page does not exist</p>
            </div>
        </div>
    </div>
</div>
