<div class="container">
    <div class="js-loader loader"></div>
    <div class="js-page page-blog page" style="display:none">
        <div class="row">

            <div class="col-xs-12 col-md-9">
                <div class="article">
                    <div ng-if="post.acf.article_video" class="embed-responsive embed-responsive-16by9">
                        <iframe ng-src="{{post.acf.article_video | trusted}}" class="embed-responsive-item"></iframe>
                    </div>
                    <img ng-if="post.acf.article_image" src="{{post.acf.article_image}}">
                    <div class="article-content">
                        <h2 class="title">{{post.title.rendered}}</h2>
                        <div class="info clearfix">
                            <ul class="list-unstyled">
                                <!--<li>BY <a href="">{{author | uppercase}}</a></li>-->
                                <li>{{ post.date | date:'d MMM yyyy' | uppercase }}</li>
                            </ul>
                        </div>
                        <hr>
                        <div ng-bind-html="post.content.rendered"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="sidebar">
                            <div ng-if="isClientsCategory" class="component component-card">
                                <a href="/clients"><i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;BACK TO ALL CLIENTS</a>
                            </div>
                            <div ng-if="!isClientsCategory" class="component component-card">
                                <a href="/blog"><i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;BACK TO ALL ARTICLES</a>
                            </div>
                            <div class="component component-card">
                                <h4 class="component-title">POPULAR ARTICLES</h4>
                                <hr>
                                <div ng-repeat="post in popularPosts | limitTo: 3" class="article-list clearfix">
                                    <a href="{{post.link}}">
                                        <div class="pull-left pop-post-image" style="background-image:url({{ post.acf.article_summary_image }})"></div>
                                        <h5>{{post.title.rendered}}</h5>
                                        <time>{{post.date | date:'d MMM yyyy' | uppercase}}</time>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>