<div class="container">
    <div class="page-block page page-results">
        <div class="row">
            <div class="col-md-12">
                <h3>Search results for "{{searchTerm}}"</h3>
                <div class="js-loader loader loader-search-results"></div>
                <div class="js-results" style="display: none">
                    <p ng-if="results.length === 0">No results were found</p>
                    <div class="search-results">
                        <ul class="list-unstyled" ng-if="results.length">
                            <li ng-repeat="result in results">
                                <h5><a href="{{result.link}}">{{result.title.rendered}}</a></h5>
                                <p ng-bind-html="result.excerpt.rendered"></p>
                                <a href="{{result.link}}">Read more</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>