<div class="container">
    <div class="js-loader loader"></div>
    <div class="js-page page-work page" style="display:none">
        <div class="card-columns">
            <div class="col-xs-12 card card-polaris-{{group.panel_color}} ng-class:{'card-block text-center': group.work_module_quote, 'text-center': !group.work_module_image}" ng-repeat="group in groups">
                <img ng-if="group.work_module_image" class="card-img-top" src="{{group.work_module_image}}" alt="Card image cap">
                <div ng-hide="group.work_module_quote || !group.work_module_title" class="card-block">
                    <h4 ng-if="group.work_module_title" class="card-title">{{group.work_module_title}}</h4>
                    <p ng-if="group.work_module_text_one">{{group.work_module_text_one}}</p>
                    <hr ng-if="group.work_module_text_two">
                    <p ng-if="group.work_module_text_two" class="card-text">{{group.work_module_text_two}}</p>
                </div>
                <blockquote ng-if="group.work_module_quote" class="card-blockquote">
                    <p>&quot;{{group.work_module_quote}}&quot;</p>
                    <footer ng-if="group.work_module_quote_author">
                        <small>
                            {{group.work_module_quote_author}}
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
