// THE BEAR!

.divider-bear {
    margin-bottom: 2rem;

    ul {
        display: inline-block;
        margin: auto;
        width: auto;

        li {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;

            .dot {
                background: #333;
                border-radius: 50%;
                display: block;
                height: 2px;
                width: 2px;

                &.dot-white {
                    background: #FFF;
                }
            }

            &.bear {
                background: none;
                height: auto;
                margin: 0 10px 0 0;
                width: auto;
            }
        }
    }
}